$font-family: 'Muli', sans-serif;
$prof-pic-height: 220px;

$primary: #E79617;
$secondary: #EEDBA9;
$third: #FFF5FF;
$gray: #CCC;

$shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);


// Headers
$h1-font-size: 25px !default;
$h2-font-size: 22px !default;
$h3-font-size: 18px !default;
$h4-font-size: 16px !default;
$h5-font-size: 14px !default;
$h6-font-size: 12px !default;

// Box Shadow
$shadow: 0 1px 2px rgba(0,0,0,0.16), 0 1px 2px rgba(0,0,0,0.23);
